
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.logo {
    font-size: 30px;
    color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



a {
    text-decoration: none;
    color: rgb(254, 255, 255);
    font-size: 20px;
}

a:hover {
    color: aquamarine;
}

.container {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.simulador {
    width: 90%;
    margin-top: 60px;
    max-width: 500px;
    background-color: rgba(203, 202, 200, 0.9);
    padding: 40px;
    border-radius: 25px;
    text-align: center;
    margin-left: 50px;
    
}
input{
    width: 50px;
    padding: 8px;
}
label{
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color:blue;
    margin-bottom: 15px;
}
h2{
    margin-bottom: 20px;
}
h4{
    margin-top: 30px;
    color:aquamarine;
}
button {
    width: 100%;
    padding: 10px;
    background-color: greenyellow;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(0, 217, 255);
    color: aliceblue;
}

#resultado, #resultadoIpca, #resultadoCotacao, #resultadoCotacaoBitcoin, 
#resultadoTesouroPrefixado, #resultadoSimularPoupanca {
    display: none;
    padding: 15px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    color: black;
    width: 50%;
    max-width: 100%;
    margin: 20px auto;
    text-align: center;
}

.end {
    text-align: center;
    margin-top: 70px;
    font-size: 20px;
}
.linksO{
    margin-top:60px;
}


/* Responsividade */
@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    .logo {
        font-size: 20px;
    }

    .container {
        flex-direction: column;
    }

    .headline {
        width: 100%;
        font-size: 16px;
    }

    button {
        width: 100%;
    }
}
